:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  height: 100vh;
}
.h100{
  height: 100vh;
}
.h100p{
  height: 100%;
}
.width350{
  width: 350px;
}
td{
  max-width: 200px;
  overflow-x: scroll;
  overflow-y: scroll;
  word-break: break-word;
}
.square{
  width: 20px;
  height: 20px;
  display: inline-block;
}
.addbutton{
  bottom:50px;
  right:50px;
  width: 48px;
  height: 48px;
}